/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */

* {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

/* HEADER */

.top-banner {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #111;
    color: #f1f1f1;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
}

.header-bg-img {
    width: 100%;
    height: calc(100vh - 28px);
    background-image: url("../images/mtb_header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 70px;
		transition: all 0.3s linear;
}

header .nav-icon {
    height: 40px;
    display: block;
    float: left;
    padding: 15px 20px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 6px 0;
		transition: all 0.3s linear;
}

header .header-brand {
    font-family: 'Recursive', sans-serif;
    font-size: 22px;
    color: #f1f1f1;
    font-weight: 700;
    display: block;
    float: right;
    margin-right: calc(50% - 95px);
    padding: 24px 0;
		transition: all 0.3s linear;
}

header nav ul {
    display: block;
}

.mobileNavMenu {
		visibility: hidden;
		opacity: 0;
    background-color: #f1f1f1;
		width: 100%;
    height: 250px;
		position: absolute;
		transition: all 0.3s linear;
}

.mobileNavMenu ul li a {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-family: 'Asap', sans-serif;
		font-size: 24px;
		color: #111;
		font-weight: 500;
		padding: 24px;
}

.header-text {
	margin-top: calc(50vh - 158px);
	margin-left: 20px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #f1f1f1;
	font-size: 34px;
	line-height: 48px;
	text-align: left;
	text-shadow: 2px 2px 8px #111;
}

.discover-btn {
	background-color: inherit;
	color: #f1f1f1;
	border: 2px solid #f1f1f1;
	border-radius: 4px;
	padding: 10px 15px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 1px 1px 4px #111, 1px 1px 4px #111 inset;
	text-shadow: 0px 0px 5px #000;
}
