/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */

* {
    text-decoration: none;
}

a:hover {
	text-decoration: none;
}

html {
  scroll-behavior: smooth;
 }

/* HEADER (INDEX) */

.top-banner {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #111;
    color: #f1f1f1;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
}

.top-banner:hover {
	color: #a9a9a9;
}

.header-bg-img {
    width: 100%;
    height: calc(100vh - 28px);
    background-image: url("../images/mtb_header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 70px;
		transition: all 0.3s linear;
}

header .nav-icon {
    height: 40px;
    display: block;
    float: left;
    padding: 15px 20px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 6px 0;
		transition: all 0.3s linear;
}

header .header-brand {
    font-family: 'Recursive', sans-serif;
    font-size: 22px;
    color: #f1f1f1;
    font-weight: 700;
    display: block;
    float: right;
    margin-right: calc(50% - 95px);
    padding: 24px 0;
		transition: all 0.3s linear;
}

.desktopNavMenu ul {
	display: none;
}

header nav ul {
    display: block;
}

.mobileNavMenu {
		visibility: hidden;
		opacity: 0;
    background-color: #f1f1f1;
		width: 100%;
    height: 250px;
		position: absolute;
		transition: all 0.3s linear;
}

.mobileNavMenu ul li a {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		color: #111;
		font-weight: 500;
		padding: 24px;
}

.header-text {
	margin-top: calc(50vh - 158px);
	margin-bottom: 25px;
	margin-left: 20px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #f1f1f1;
	font-size: 34px;
	line-height: 48px;
	text-align: left;
	text-shadow: 2px 2px 8px #111;
}

.discover-btn {
	background-color: inherit;
	color: #f1f1f1;
	border: 2px solid #f1f1f1;
	border-radius: 4px;
	padding: 10px 15px;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 1px 1px 4px #111, 1px 1px 4px #111 inset;
	text-shadow: 0px 0px 5px #000;
	transition: all 0.3s linear;
}

.discover-btn:hover {
	background-color: #f1f1f1;
	color: #111;
	box-shadow: 1px 1px 4px #111;
	text-shadow: none;
}

@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	header .nav-icon {
	    display: none;
	}

	header .header-brand {
	    display: block;
			margin: 16px 0;
	    float: left;
			line-height: 38px;
	    padding: 0 40px 0 60px;
			border-right: 3px solid #f1f1f1;
	}

	.desktopNavMenu ul {
		display: inline-block;
		margin-left: 40px;
	}

	.desktopNavMenu li {
		display: inline-block;
		float: left;
		list-style: none;
		padding: 0 16px;
		transition: all 0.3s linear;
	}

	.desktopNavMenu li a {
		font-family: 'Open Sans', sans-serif;
		color: #f1f1f1;
		font-size: 18px;
		font-weight: 600;
		line-height: 70px;
		transition: all 0.3s linear;
	}

	header:hover {
		background-color: #f1f1f1;
	}

	header:hover .header-brand {
		color: #111;
		border-right: 3px solid #111;
	}

	header:hover .desktopNavMenu li a {
		color: #111;
	}
}

/* HEADER (CONTACT) */

.solid-header-bg {
	width: 100%;
	height: calc(100vh - 28px);
	background-color: #111;
}

.title-text {
	font-family: 'Recursive', sans-serif;
	font-weight: 600;
	color: #f1f1f1;
	font-size: 42px;
	line-height: 48px;
	padding-top: calc(50vh - 140px);
	text-align: center;
}

.title-info {
	font-family: 'Open Sans', sans-serif;
	color: #f1f1f1;
	text-align: center;
	padding: 5px 20px;
	font-size: 14px;
	line-height: 24px;
}

@media only screen and (min-width: 1000px) {

	.title-info {
		padding: 5px 220px;
	}

}

/* MAIN (INDEX) */

#index-links {
	overflow: visible;
}

#index-links div {
	margin: 20px 0 0 20px;
	width: calc(100% - 32px);
	border-radius: 8px;
	height: 100px;
	background-color: #f2f2f2;
}

#index-links div h2 {
	font-family: 'Open Sans', sans-serif;
	color: #111;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	line-height: 100px;
}

@media only screen and (min-width: 1000px) {

	#index-links {
		height: 648px;
	}

	.index-boxlink-rectangle {
		margin: 16px 16px 0;
		width: calc(100% - 20px);
		border-radius: 8px;
		height: 200px !important;
		background-color: #f2f2f2;
		transition: all 0.3s linear;
	}

	.index-boxlink-rectangle:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.index-boxlink-square {
		margin: 16px 16px 0;
		width: calc(50% - 26px) !important;
		float: left;
		border-radius: 8px;
		height: 200px !important;
		background-color: #f2f2f2;
		transition: all 0.3s linear;
	}

	.index-boxlink-square:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#index-links div h2 {
		font-family: 'Open Sans', sans-serif;
		color: #111;
		font-size: 22px;
		font-weight: 500;
		text-align: center;
		line-height: 200px;
	}
}

/* MAIN (CONTACT) */

.contact-form {
	margin: 30px 20px;
}

.contact-form label, textarea, input {
	color: #111;
	font-family: 'Open Sans', sans-serif;
}

.contact-form label {
	margin-bottom: 5px;
	color: #111;
	font-size: 16px;
	font-weight: 600;
}

.contact-form textarea {
	resize: none;
	height: 200px;
}

.submit-btn {
	background-color: inherit;
	color: #111;
	border: 2px solid #111;
	border-radius: 4px;
	padding: 7px 12px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s linear;
}

.submit-btn:hover {
	background-color: #111;
	color: #f1f1f1;
}

@media only screen and (min-width: 1000px) {

	.contact-form {
		margin: 60px 100px;
	}

	.contact-form textarea {
		height: 300px;
	}

}

/* MAIN (ABOUT + PRODUCTS) */



.coming-soon {
	color: #f1f1f1;
	font-family: 'Recursive', sans-serif;
	font-size: 250px;
	line-height: 200px;
}

/* FOOTER */

footer {
	width: 100%;
	background-color: #111;
	margin-top: 16px;
}

footer ul {
	padding: 40px 0;
}

footer ul li {
	display: block;
	margin: 0 auto;
	text-align: center;
}

footer ul li a {
	color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 40px;
}

footer ul li a:hover {
	color: #a9a9a9;
}

.footer-sm {
	display: block;
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 40px
}

.footer-sm img {
	width: 60px;
	padding: 10px;
}

@media only screen and (min-width: 1000px) {
	footer {
		margin-top: 20px;
	}
}
